@import '../../styles.scss';

.navbar {
    display: flex;
    justify-content: center;
    background: $surface;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 20px rgba($secondary, 0.2);
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;

    a {
        margin: 0 20px;
        color: $accent;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        transition: color 0.3s;
        flex-shrink: 0;

        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 0;
            background: $secondary;
            transition: width 0.3s;
            position: absolute;
            bottom: -5px;
            left: 0;
        }

        &:hover {
            color: $secondary;

            &::after {
                width: 100%;
            }
        }
    }
}
@include respond(phone) {
    .navbar {
      justify-content: space-around;
      padding: 5px 0px;
    
      a {
        margin: 5px;
        font-size: 0.85rem;
      }
    }
}