@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

$bg: #0d0d1a;
$surface: #1a1a2e;
$primary: #8e9eff;
$secondary: #9a86fd;
$text: #f0f0f0;
$accent: #f4a261;

body {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 1px;
    background-color: $bg;
    color: $text;
    width: 100%;
    overflow-x: hidden;
}

@mixin respond($breakpoint) {
    @if $breakpoint ==phone {
        @media (max-width: 600px) {
            @content;
        }
    }

    @else if $breakpoint ==tablet {
        @media (max-width: 900px) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (min-width: 901px) {
            @content;
        }
    }
}